@font-face {
  font-family: Raleway;
  src: url("./assets/fonts/Raleway-VariableFont_wght.ttf");
}

:root {
  --primary-color: #1d1f22;
  --secondary-color: #5ece7b;
  --background-color: #fff;
  --background-secondary-color: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
  line-height: 1.6;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
}
